<!--The content below is only a placeholder and can be replaced.-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<nav>
    <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a><br>
    <a routerLink="/posts" routerLinkActive="active">Posts</a><br>
    <a routerLink="/albums" routerLinkActive="active">Albums</a><br>
    <a routerLink="/fmx-alta" routerLinkActive="active">Agrega Usuario</a>
  </nav>

<router-outlet></router-outlet>
